<div>
    <h2 class="text-xl font-bold px-6 pt-4 text-center mb-6 uppercase">{{selectedStarship().name}}</h2>
    <div class="glow-line"> <div class="glow-line-pointer"></div></div>
    <div class="flex flex-col gap-4 md:flex-row ficha">
        <div class="w-full md:w-3/5">
            <img src="/assets/img/starships/{{this.starshipsService.getIdFromUrl(selectedStarship().url)}}.jpg" alt={{selectedStarship().name}} class="w-full h-auto object-cover">
        </div>
        <div class="w-full md:w-2/5 p-6">
            <ul class="text-gray-400  space-y-2 orbitron-400">
                <li><strong>Name:</strong> {{selectedStarship().name}}</li>
                <li><strong>Model:</strong> {{selectedStarship().model}}</li>
                <li><strong>Manufacturer:</strong> {{selectedStarship().manufacturer}}</li>
                <li><strong>Cost in credits:</strong> {{selectedStarship().cost_in_credits}}</li>
                <li><strong>Length:</strong> {{selectedStarship().length}}</li>
                <li><strong>Max atmosphering speed:</strong> {{selectedStarship().max_atmosphering_speed}}</li>
                <li><strong>Crew:</strong> {{selectedStarship().crew}}</li>
                <li><strong>Passengers:</strong> {{selectedStarship().passengers}}</li>
                <li><strong>Cargo capacity:</strong> {{selectedStarship().cargo_capacity}}</li>
                <li><strong>Consumables:</strong> {{selectedStarship().consumables}}</li>
                <li><strong>Hyperdrive rating:</strong> {{selectedStarship().hyperdrive_rating}}</li>
                <li><strong>MGLT:</strong> {{selectedStarship().MGLT}}</li>
                <li><strong>Starship class:</strong> {{selectedStarship().starship_class}}</li>
            </ul>
        </div>
    </div>
    <!-- <p>Pilots: {{selectedStarship().pilots}}</p>
    <p>Films: {{selectedStarship().films}}</p> -->
</div>
