.fadedown {
    animation-name: fadeDown;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    visibility: hidden;
}

@keyframes fadeDown {
    from {
      transform: translateY(-100%);
      visibility: visible;
    }
  
    to {
      transform: translateY(0%);
      visibility: visible;
    }
  }

  header img {
    animation: fade 1s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1.4s;
    opacity: 0;
  }
