@if (film) {
    <div class="mt-12 mx-6 text-center ficha-films pb-4">
        <div>
            <img 
                [src]="'/assets/img/films/' + (film.url.split('/')[5]) + '.jpeg'" 
                [alt]="film.title"
            />
        </div>
        <h3 class="text-lg font-bold mt-6 text-center uppercase">{{ film.title }}</h3>
        <p class="pb-4">Episode {{ film.episode_id }}</p>
        <p class="mb-2"><span class="text-gray-400">Director:</span><br> {{ film.director }}</p>
        <p class="mb-2"><span class="text-gray-400">Release Date:</span> 
            <br><span class=" space-y-2 orbitron-400">{{ film.release_date }}</span> </p>
    </div>
}
