

.ficha-films {
    border-radius: 0 0 40px 0;
    background: linear-gradient(180deg, transparent 25%, #142332d0 60%, #14233275 100%);
}

.ficha-films img {
    border: 2px solid #142332d0;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
}