<app-title title="Starships"></app-title>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 pt-8">
    @for (starship of listStarships(); track starship) {
        <div class="border-img overflow-hidden text-center">
            <a href="/starship/{{ starship.url.split('/')[5] }}/">
                <div class="fadedown">
                    <img [src]="'/assets/img/starships/' + (starship.url.split('/')[5]) + '.jpg'" 
                         [alt]="starship.name" 
                         class="w-full object-cover">
                </div>
                <div class="pb-4">
                    <h3 class="uppercase font-bold">{{ starship.name }}</h3>
                    <p>{{ starship.model }}</p>
                </div>
            </a>
        </div>
    }
</div>
