<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        @for (starship of listStarships(); track starship) {
            
            <div>
                <a href="/starship/{{starship.id}}/">
                <p class="uppercase font-bold">{{starship.name}}</p>
                <p>{{starship.model}}</p>
                <img src="/assets/img/starships/{{starship.id}}.jpg" alt="">
                <br>
            </a>
            </div>
        }

</div>
<button (click)="this.starshipsService.getNextPageStarshipsList()">view more</button>