
  #starwars {
    height: 100%;
    max-width: calc(100vw - 40px);
    max-width: 1280;
    overflow: hidden;
  }
  
  .animate {
    .intro {
      font-size: 200%;
      color: #19A3C8;
      text-align: center;
      width: 578px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: intro 5s linear 0s;
      opacity: 0;
    }
  
    .logo {
      position: absolute;
      width: 0;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: logo  10s linear 5s;
      opacity: 0;
    }
  
    #reel {
      $width: 580px;
      width: $width;
      margin-left: -($width/ 2);
  
      position: absolute;
      bottom: 0;
      left: 50%;
      height: 100em;
      overflow: hidden;
  
      transform: perspective(255px) rotateX(30deg);
      transform-origin: 50% 100%;
  
      color: #FFEC01;
      font-weight: bold;
      font-size: 250%;
      text-align: justify;
  
      div {
        position: absolute;
        top: 100%;
        animation: reel 53s linear 12s;
  
        p {
          line-height: 1.5em;
          margin-top: 50px;
  
          &:first-child {
            margin-top: 0;
          }
        }
  
        h1, h2 {
          text-align: center;
          margin-bottom: 25px;
        }
      }
    }
    
    a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
      cursor: pointer;
      animation: reset  66s linear;
    }
  }
  
  @keyframes reel {
      0% { 
      top: 100%; 
      opacity: 1;
    }
    95% {
      opacity: 1;
    }
      100% { 
      top: 50%; 
      opacity: 0;
    }
  }
  
  @keyframes intro {
      0% { 
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
      80% { 
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes logo {
      0% { 
      width: 300px;
      opacity: 1;
    }
    10% {
      width: 300px;
      opacity: 1;
    }
    15% {
      width: 300px;
    }
      90% {
      width: 10px;
      opacity: 1;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
  
  @keyframes reset {
    0% {
      opacity: 0;
      cursor: default;
    }
    99% {
      opacity: 0;
      cursor: default;
    }
    100% {
      opacity: 1;
      display: block;
    }
  }