
<div id="starwars" class="animate">
    <div class="max-w-4xl mx-auto">
        <app-video ></app-video>
    </div>
  <p class="intro">
    A long time ago, <br>in a galaxy far, <br>far away... 
  </p>
  <img src="/assets/img/Starwars-logo.png" class="logo" />
  <div id="reel">
    <div class="content">
      <h1>Episode IV</h1>
      <h2>A NEW HOPE</h2>
      <p>It is a period of civil war. Rebel spaceships, striking from a hidden base, have won their first victory against the evil Galactic Empire.</p>

      <p>During the battle, Rebel spies managed to steal secret plans to the Empire's ultimate weapon, the DEATH STAR, an armored space station with enough power to destroy an entire planet.</p>

      <p>Pursued by the Empire's sinister agents, Princess Leia races home aboard her starship, custodian of the stolen plans that can save her people and restore freedom to the galaxy....</p>
    </div>
  </div>
  
  <a href="/starships" class="button-yellow text-black font-bold py-2 px-6 rounded-full inline-block text-center">
    GO TO STARSHIPS
  </a>
</div>