<div class=" video-container w-full overflow-hidden relative margin-button-negative">
    <video 
      class="w-full h-auto object-cover" 
      autoplay 
      loop 
      muted 
      playsinline 
      onerror="this.style.display='none'; this.nextElementSibling.style.display='block';">
      <source src="/assets/video/starship-video.mp4" type="video/mp4">
    </video>
    <img 
      src="/assets/video/starship-video.jpg" 
      alt="Imagen alternativa a video" 
      class="w-full h-auto object-cover hidden">
  </div>
  